body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #333;
    border-radius: 4px;
    margin-bottom: 20px;
}

th {
    background-color: #222;
    color: #fff;
    padding: 12px;
    text-align: center;
}

td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #292929;
}

.footer-text {
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    margin: 0;
    background-color: #292929;
}

/* Adicionado CSS para tornar o layout responsivo */
@media screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}